:root {
  --vp-font-family-base: Noto Serif, Source Han Serif SC, Cambria, Cochin,
    Georgia, Times, 'Times New Roman', serif;
  --vp-c-text-1: black;
}

.dark {
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
}

.vp-doc.strong,
.vp-doc.h1,
.vp-doc.h2 {
  font-weight: 700;
}

p {
  text-align: justify;
}

.main img {
  border-radius: 8px;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.main h1 + blockquote {
  margin: 0.5rem 0;
}

.VPNav {
  display: none;
}
